@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: hsl(217, 54%, 11%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  }

.main {
  background-color: hsl(216, 50%, 16%);
  width: 290px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  border-radius: 5%;
  box-shadow: 0px 25px 15px 10px #09101C, 0px 25px 15px 40px rgba(9,16,28,0.4);}


.image-container {
  position: relative;
  margin-top: 25px;
}

.main-image {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 5%;
}

.icon-view{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -30px;
}

.overlay {
  position: absolute;
  border-radius: 5%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: hsl(178, 100%, 50%, 0.3);
}

.image-container:hover .overlay{
  opacity: 1;
  cursor: pointer;
}

.image-container:hover .icon-view{
  opacity: 1;
}

.main-texts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 6%;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5%;
}

h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.first-text, .days-left-text, .creator-text  {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.middle-texts, .middle1, .middle2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-texts {
  gap: 70px;
}

.middle1 {
  color: hsl(178, 100%, 50%);  
}

.middle1, .middle2 {
  gap: 5px;
}

.icon-clock, .icon-ethereum {
  height: 18px;
}

.bottom-section {
  width: 250px;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  border-top: solid 1px hsl(215, 32%, 27%);
  gap: 15px;
  font-weight: 300;
  font-size: 14px;
}

.creator-avatar {
  width: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.creator-name {
  text-decoration: none;
  color:  hsl(0, 0%, 100%); 
}

.creator-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}


footer {
	background: hsl(216, 50%, 16%);
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
  text-align: center;
  font-weight: 400;
  font-size: small;
}

footer p {
  color: hsl(0, 0%, 100%);
}

footer a:hover{
  color: hsl(216, 50%, 16%);
  background-color: hsl(0, 0%, 100%);
}

footer a {
  color: hsl(215, 51%, 70%);
  text-decoration: none;
}